@import url(navbar.css);
@import url(content.css);
@import url(variable.css);
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Source+Sans+Pro:wght@300&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--bg-clr);
  font-family: "PT Sans", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.act-btn {
  text-decoration: none;
  color: var( --black-clr);
  padding: 0.7rem 1rem;
  border: 1px solid var(--black-clr);
  width: fit-content;
  font-weight: var(--fw-3);
  margin: 0 auto;
  margin-top: 2rem;

}

.act-btn:hover{
  background-color: var(--black-clr);
  color: var(--bg-clr-1);
  font-weight: var(--fw-2);
  transition: 0.3s ease-out;
}